name: CI

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  id-token: write
  contents: read

jobs:
  quality:
    name: Quality
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Sonarcloud Scan
        uses: ./.github/actions/sonarcloud
        with:
          sonar-token: ${{ secrets.SONAR_TOKEN }}